@model TwitterClone.UI.Models.TweetVM

@{
    ViewBag.Title = "Twitter stream";
    
}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>    
<script src="~/Scripts/Src/Index.js"></script>

<div class="container row searchdiv">
    <div class="row">
        <div class="col-lg-3">
            <label>Follow</label>
        </div>
        <div>
            <label>What are you doing?</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <form action="" class="search-form">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
                <lable class="row col-lg-offset-2"><a>@Model.NoOfTweets</a> Tweets</lable>
                <lable class="row col-lg-offset-2"><a>@Model.Following</a> Following</lable>
                <lable class="row col-lg-offset-3"><a>@Model.Followers</a> Followers</lable>
            </form>
        </div>
        <div class="col-lg-offset-3">
            <textarea class="form-control" style="min-width: 100%" rows="5" id="comment" maxlength="140"></textarea>
        </div>
        <div class="col-lg-10" style="padding:30px;">
            <input type="button" id="btnDelete" class="row btn col-sm-1" value="Delete" style="float:right;display:none;" />
            <input type="button" id="btnUpdate" class="row btn col-sm-1" value="Update" style="float:right;display:none;margin-right: 20px;" />       
            <input type="button" id="btnTweet" class="row btn col-sm-1" value="Tweet" style="float:right;" />         
        </div>
    </div>
    <div class="col-lg-offset-3 panel panel-default">
        <div class="panel-heading"><strong>Tweets</strong></div>
        <div class="panel-body" style="height:300px;">
            @foreach (var item in Model.Tweets)
            {
                <div class="row">
                    <div class="columnData col-md-2">
                        <span>@item.UserId</span>
                    </div>
                    <div class="columnData col-md-8">
                        @if (Session["UserId"].ToString() == item.UserId)
                        {
                            <span><a class="aMessage" id="@item.TweetId">@item.Message</a></span>
                        }
                        else
                        {
                            <span>@item.Message</span>
                        }
                       
                    </div>
                    <div class="columnData col-md-2">
                        <span>@((item.CreatedDate.Date == DateTime.Today.Date)?item.CreatedDate.ToShortTimeString():item.CreatedDate.ToShortDateString())</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>




